* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(189, 110, 110); /* just highlights when background is showing through */
}

#container {
    position: relative; /* allows the banners to be floated above the canvas using absolute positions */
}

#canvas {
    background-color: #000000;
}

/* -------------------------------- Hidden Banner Styles -------------------- */

.top-banner,
.bottom-banner {
    width: 100%;
    height: 90px;
    
    margin: 0;
    position: absolute;
}

.bottom-banner {
    bottom: 0px;
}

/* -------------------------------- Name Title Above Game ----------------------*/

h1 {
    text-align: center;
    margin: 0 auto;
    color: aliceblue;
    font-family: 'Audiowide', sans-serif;
    font-size: clamp(20px, 6vw, 90px);
    padding-top: 30px;
}

/* -------------------------------- Direction Buttons ----------------------*/

button{
    outline: none;
}

.dir-btns-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.left-li {
    margin: auto 80px auto auto;
}

.right-li {
    margin: auto auto auto 80px;
}

.direction-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: clamp(30px, 5vw, 60px);
    padding: 0px;
    cursor: pointer;   
}

.direction-btn i {
    color: #fff;
}