* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000
}

#container {
  position: relative; /* allows the banners to be floated above the canvas using absolute positions */
}

#canvas {
  background-color: #000;
}

/* ------------------------------ Globally Appliacable Styles ----------------*/

.hidden {
  display: none;
}

/* -------------------------------- Hidden Banner Styles -------------------- */

.top-banner,
#bottom-banner {
  width: 100%;
  height: 90px;
  margin: 0;
  position: absolute;
}

#bottom-banner {
  bottom: 0px;
  height: 75%;
}

/* -------------------------------- Name Title Above Game ----------------------*/

h1 {
  text-align: center;
  margin: 0 auto;
  color: aliceblue;
  font-family: "Audiowide", sans-serif;
  font-size: clamp(20px, 6vw, 90px);
  padding-top: 30px;
}

/* -------------------------------- Buttons ----------------------*/

button {
  outline: none;
}

.dir-btn-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

.dir-btns-sides {
  border: none;
  list-style: none;
  height: 100%;
  background-color: transparent;
  width: 50%;
}

.side-screen-btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.mute-btn,
.reset-btn {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#mute,
#reset,
#start-btn,
#restart-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0px;
  cursor: pointer;
}

#mute {
  font-size: clamp(13px, 3vw, 20px);
  padding: 5px 0 0 8px;
  position: absolute;
  margin: 2px;
}

#mute:active {
  top: 1px;
}

.mute-btn i {
  color: #fff;
}

.reset-btn li {
  margin: 5px 8px 0 86%;
  position: absolute;
}

#reset,
#start-btn,
#restart-btn {
  color: rgba(255, 255, 255, 0.541);
  font-family: "Oxanium", cursive;
  font-size: clamp(4px, 3.5vw, 21px);
  background-color: rgba(255, 255, 255, 0.048);
  border: 1px solid rgba(105, 105, 105, 0.363);
  border-radius: 4%;
  transition: all 0.1s ease-out;
  padding: 0 3px;
}

#reset {
  padding: 2px 3px 0px 3px;
}

#start-btn,
#restart-btn {
  color: #fff;
  font-size: clamp(20px, 3vw, 40px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(105, 105, 105);
  margin: 18px;
  padding: 2px 10px;
}

#reset:hover {
  background-color: rgba(255, 255, 255, 0.274);
  color: rgba(255, 255, 255, 0.8);
}

#start-btn:hover,
#restart-btn:hover {
  background-color: rgba(255, 255, 255, 0.493);
}

#reset:active,
#start-btn:active,
#restart-btn:active {
  top: 1.5px;
  position: relative;
}

/* ------------------------- Panels -------------------------*/

#countdown,
#start-panel,
#crash-panel,
#completed-panel {
  position: absolute;
  width: 100%;
  top: 42%;
  text-align: center;
  color: #fff;
  font-family: "Oxanium", cursive;
  font-size: 20px;
}

#start-panel,
#crash-panel,
#completed-panel {
  height: 60%;
  top: 20%;
  background-color: rgba(46, 46, 46, 0.1);
  border: 1px solid rgba(252, 252, 252, 0.2);
  border-radius: 15%;
}

#crash-panel,
#completed-panel {
  visibility: visible;
}

#start-panel p,
#countdown p,
#crash-panel p,
#completed-panel p {
  margin: 25px 5px;
  font-size: clamp(17px, 3vw, 30px);
}

p#credit {
  font-size: clamp(4px, 2vw, 10px);
  color: rgba(255, 255, 255, 0.301);
}

/* -------------------------- Media Queries ------------------------*/

@media only screen and (max-width: 360px) {
  #start-panel p,
  #countdown p,
  #crash-panel p,
  #completed-panel p {
    margin: 10px 5px;
    font-size: clamp(13px, 1vw, 30px);
  }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  #start-panel p,
  #countdown p,
  #crash-panel p,
  #completed-panel p {
    margin: 10px 5px;
    font-size: clamp(12px, 1vw, 30px);
  }

  #start-btn,
  #restart-btn {
    margin: 3px;
  }

  #start-panel,
  #crash-panel,
  #completed-panel {
    top: 25%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #reset {
  font-size: clamp(4px, 2.5vw, 21px);
}

  #start-btn,
  #restart-btn {
    font-size: clamp(4px, 3.5vw, 21px);
}

  .reset-btn li {
    margin: 10px 8px 0 91%;
}

}

@media only screen and (min-height: 600px) {
  #start-panel p,
  #countdown p,
  #crash-panel p,
  #completed-panel p {
    margin: 20px 5px;
    font-size: clamp(12px, 2.5vw, 30px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #start-panel p,
  #countdown p,
  #crash-panel p,
  #completed-panel p {
    margin: 40px 5px;
    font-size: clamp(12px, 2.5vw, 30px);
  }
  
  #start-btn,
  #restart-btn {
    font-size: clamp(4px, 4vw, 40px);
}

  p#credit {
    font-size: clamp(4px, 2vw, 10px);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #start-btn,
  #restart-btn {
    margin: 20px;
  }

  #start-panel p,
  #countdown p,
  #crash-panel p,
  #completed-panel p {
    margin: 30px 5px;
    font-size: clamp(20px, 3vw, 30px);
  }

  .reset-btn li {
    margin: 10px 8px 0 96%;
  }

  #reset {
    font-size: clamp(2px, 1.5vw, 18px);
  }

  #mute {
    margin: 0;
  }

  p#credit {
    font-size: clamp(4px, 2vw, 10px);
  }
}